.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #e0e0e0;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-shrink: 0;

  &:not(:first-child) {
    margin-left: 10px;
  }
}
